<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saurabhneostore">
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SaurabhNeoSTORE">
        <activity android:name=".homepage.Homepage"/>
        <activity android:name=".drawer.TableList"/>
        <activity android:name=".drawer.MyAccount"/>
        <activity android:name=".drawer.ResetPass"/>
        <activity android:name=".drawer.MyCart"/>
        <activity android:name=".Register.Register"/>
        <activity android:name=".drawer.EditProfile"/>
        <activity android:name=".Login.Login"/>
        <activity android:name=".forgetpassword.Forget"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>